.container{
    color: #FFFDB5;
}

.nav-item{
    color: black;
}

body{
    background-color: #00215E;
}

.sampfp{
    border-radius: 25%;
}

.sam{
        color: #FFC100;
}

.lead{
    color: white;
}

.lol{
    background-color: #00215E ;
}

.header{
    height: 50px;
}